<h3>Hi {{currentUser.firstName}}!</h3>
<div>
    <hr/>
    <tabset #staticTabs [justified]="true">
        <tab>
            <template tabHeading>
                <i class="fa fa-tasks"></i>  Projects
            </template>
            <!--TODO wszystkie projekty w których jestem ownerem-->
            <!--TODO wszystkie projekty do których należę-->
            Projects
        </tab>
        <tab>
            <template tabHeading>
                <i class="fa fa-plus-square"></i>  New Project
            </template>
            New Project
        </tab>
        <tab>
            <template tabHeading>
            <i class="fa fa-history"></i>  Projects History
            </template>
            <!--TODO Wszystkie projekty do których należałem lub byłem leadem ze statudem ENDED-->
            Projects History
        </tab>
        <tab>
            <template tabHeading>
            <i class="fa fa-envelope-square"></i>  Invitations
            </template>
            <!--TODO wszytkie zaproszenia do projektów-->
            <!--TODO Historia zaproszeń-->
            Invitations
        </tab>
    </tabset>
</div>
