<div *ngIf="project" class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-6">
            <h5>{{project.title}}</h5>
        </div>
        <div class="col-3">
            <h6>Role: <strong>Owner</strong></h6>
        </div>
        <div class="col-3">
            <div *ngIf="project.technologies.length !== 0">
                <a *ngFor="let tech of project.technologies" style="margin-bottom: 10px;">
                    <div class="badge badge-pill badge-info">{{tech}}</div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>{{project.description}}</p>
            <p *ngIf="project.gitHubCollaborators && project.gitHubCollaborators !== '-1'"
            ><i class="fa fa-group"></i>  Collaborators on GitHub: <strong>{{project.gitHubCollaborators}}</strong></p>
        </div>
        <div class="col-3">
            <div class="alert-danger alert" style="padding: 10px 8px;margin-top: 11px;">
                <small>Status: <strong>{{project.status}}</strong></small>
            </div>
        </div>
        <div class="col-3">
            <a class="btn btn-md btn-outline-info" target="_blank" href="https://{{project.versionControlUrl}}" style="margin-top: 10px;">
                <i class="fa fa-archive"></i>   Repository
            </a>
        </div>
    </div>
</div>