<div *ngIf="project" class="container">
    <div class="row">
        <div class="col-3">
            <h6>{{project.title}}</h6>
        </div>
        <div class="col-3">
            <div class="alert-success alert" style="padding: 6px 8px;">
                <small>Status: <strong>{{project.status}}</strong></small>
            </div>
        </div>
        <div class="col-2">
            <div class="badge badge-pill badge-default pull-right" style="margin-bottom: 10px;">
                {{project.technologies}}
            </div>
        </div>
    </div>
</div>