<div *ngIf="project" class="container">
    <div class="row">
        <div class="col-4">
            <h6>{{project.title}}</h6>
        </div>
        <div class="col-4">
            <div class="alert-success alert pull-right" style="padding: 6px 8px;">
                <small>Status: <strong>{{project.status}}</strong></small>
            </div>
        </div>
        <div class="col-4">
            <div *ngIf="project.technologies.length !== 0" class="pull-right">
                <a *ngFor="let tech of project.technologies" style="margin-bottom: 10px;">
                    <div class="badge badge-pill badge-success">{{tech}}</div>
                </a>
            </div>
        </div>
    </div>
</div>