a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.action-button {
    background: #5cb85c;
    border-radius: 20px;
    color: #fff;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: 10px 22px;
    transition: background-color 0.5s;
}

.action-button:hover {
    background: #fff;
    color: #5cb85c;
    transition: background-color 0.5s;
}