<div bsModal #collaboratorModal="bs-modal" class="modal custom-fade" tabindex="-1"
     role="dialog" aria-labelledby="collaboratorLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{collaborator?.firstName}} {{collaborator?.lastName}}</h4>
                <small><strong>{{collaborator?.department}}</strong> {{collaborator?.fieldOfStudy}}</small>
                <button type="button" class="close pull-right" (click)="collaboratorModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--<div>-->
                    <!--<h6>Projects</h6>-->
                    <!--&lt;!&ndash;TODO dodac liste projektów&ndash;&gt;-->
                    <!--<p><i>List of projects is empty</i></p>-->
                <!--</div>-->
                <div *ngIf="collaborator?.technologies">
                    <a *ngFor="let tech of collaborator.technologies" style="margin-bottom: 10px;">
                        <div class="badge badge-pill badge-success">{{tech}}</div>
                    </a>
                </div>
                <div><i>{{collaborator?.email}}</i></div>
            </div>
            <div class="modal-footer">
                <div *ngIf="myProjects?.length" style="width: 100%;text-align: right;">
                    <span *ngIf="errors" style="color:darkred;">{{errors}}</span>
                    <select id="project" #project>
                        <option *ngFor="let project of myProjects"
                                [value]="project.projectId">
                            <small>{{ project.title }}</small>
                        </option>
                    </select>
                    <button class="btn btn-success btn-sm" (click)="inviteToProject(collaborator)">
                        <small>Invite to project</small></button>
                </div>
                <button type="button"
                        class="btn btn-danger btn-sm"
                        data-dismiss="modal"
                        (click)="collaboratorModal.hide()"><small>Close</small></button>
            </div>
        </div>
    </div>
</div>