<h3>Collaborators</h3>
<!-- TODO Jakś zajebista wyszukiwarka userów -->
<div style="margin-top: 40px;">
    <div class="list-group">
        <a (click)="showModal(collaborator)"
           class="list-group-item list-group-item-action flex-column align-items-start"
           *ngFor="let collaborator of collaborators"
            style="height: 84px">
            <div class="container" style="height: 100%;">
                <div class="d-flex w-100 justify-content-between" style="height: 100%;">
                    <div>
                        <p class="mb-1" style="    font-size: 14px; font-weight: 200;">
                            {{collaborator.firstName}} {{collaborator.lastName}}
                        </p>
                        <div class="badge badge-pill badge-success" style="margin-bottom: 10px;">{{collaborator.skills}}</div>
                    </div>
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <button class="btn btn-success pull-right btn-sm"><small>Invite to project</small></button>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<modal-collaborator
    [collaborator]="modalCollaborator">
</modal-collaborator>